html {
    border: 5px black; border-style: double; margin: 25px;
    font-family: sans-serif;
}

body {
    background-color: rgba(52, 52, 52, 0.94);
    color: whitesmoke;
}

div {
    display: inline-block;
}

img {
    border: 3px solid rgb(0, 0, 0);
    border-style: inset
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.pgris:hover {
    color: rgba(245, 245, 245, 0.5);
}