html{
    border: 5px black; border-style: double; margin: 10px;
    font-family: sans-serif;
}

body {
    background-color: rgba(52, 52, 52, 0.94);
    color: whitesmoke;
    margin: 0;
    padding: 0;
}


img {
    border: 3px solid rgb(0, 0, 0);
    border-style: inset
}

p:hover {
    margin: 0; margin-left: 10px;
    color: rgba(245, 245, 245, 0.5);
}
